Flask==0.10.1
Jinja2==2.7.2
Mako==1.2.2
MarkupSafe==0.18
PyMySQL==0.6.1
SQLAlchemy==0.9.3
Werkzeug==0.9.4
alembic==0.6.3
amqp==1.4.3
analytics-python==0.4.4
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.16
celery==3.1.9
dropbox==2.0.0
itsdangerous==0.23
kombu==3.0.12
numpy==1.8.0
python-dateutil==2.2
pytz==2013.9
redis==2.9.1
requests==2.2.1
six==1.5.2
urllib3==1.7.1
