.center {
  text-align: center;
}

.center * {
  margin-left: auto;
  margin-right: auto;
}

.ui-checkbox .ui-btn-text:before {
  content: "\f115";
  font-family: FontAwesome;
  font-weight: normal;
}

.ui-btn[data-nest="1"] .ui-btn-text {
  margin-left: 16px;
}

.ui-btn[data-nest="2"] .ui-btn-text {
  margin-left: 32px;
}

.ui-btn[data-nest="3"] .ui-btn-text {
  margin-left: 48px;
}