.center {
  text-align: center;
}

.center * {
  margin-left: auto;
  margin-right: auto;
}

.left {
  margin-left:0;
  text-align:left;
}

.right {
  float: right;
  margin-right:0;
}

.clear {
  clear: both;
}

.ui-checkbox .ui-btn-text:before {
  content: "\f115";
  font-family: FontAwesome;
  font-weight: normal;
}

.ui-btn[data-nest="1"] .ui-btn-text {
  margin-left: 16px;
}

.ui-btn[data-nest="2"] .ui-btn-text {
  margin-left: 32px;
}

.ui-btn[data-nest="3"] .ui-btn-text {
  margin-left: 48px;
}

.img-standard {
  max-width: 600px;
}

.ui-content{
  max-width:700px;
  overflow:auto;
}
