.center {
  text-align: center;
}

.center * {
  margin-left: auto;
  margin-right: auto;
}

.left {
  margin-left:0;
  text-align:left;
}

.right {
  float: right;
  margin-right:0;
}

.clear {
  clear: both;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('font/fontawesome-webfont.eot');
    src: url('font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/fontawesome-webfont.woff') format('woff'),
    url('font/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ui-checkbox label:before {
  content: "\f021";
  font-family: FontAwesome;
  font-weight: normal;
}

.ui-btn[data-nest="1"] {
  text-indent: 16px;
}

.ui-btn[data-nest="2"] {
  text-indent: 32px;
}

.ui-btn[data-nest="3"] {
  text-indent: 48px;
}

.img-standard {
  max-width: 600px;
}

.ui-content{
  max-width:700px;
  overflow:auto;
}
