{% extends "layout.html" %}
{% block title %}Associate Your Dropbox Account - IVLE Cloud Sync{% endblock %}
{% block body %}
<div data-role="header">
  <h1>Associate</h1>
</div>

<div class="center" data-role="content">
  <img class="img-standard" src="{{url_for('static', filename='associate-img/ivle-connect-dropbox.png' )}}" alt="Connect your Dropbox account">

  
  <h1>Part Two: Associate with Dropbox</h1>
  <p>To proceed, please log in with the Dropbox account you wish to snyc your files with.</p>
  <br><br>
  <a href="https://www.dropbox.com/"><img src="{{ url_for('static', filename='img/pe-web.png') }}"></a><br>
  {% if not user.dropbox_key %}
  Connect with Dropbox to sync your Workbin files.<br>
  <a data-inline="true" data-role="button" rel="external"
     href="{{ url_for('dropbox_login') }}">Connect with Dropbox</a>
  {% else %}
  You are connected with Dropbox. Your Workbin files will be synced.<br>
  <a data-inline="true" data-role="button"
     href="{{ url_for('dropbox_logout') }}">Disconnect from Dropbox</a>
  {% endif %}
</div>
{% endblock %}
