{% extends "layout.html" %}
{% block title %}Associate Your Dropbox Account - IVLE Cloud Sync{% endblock %}
{% block body %}
<div data-role="header">
  <h1>Associate</h1>
</div>

<div class="center" data-role="content">
  <a href="https://www.dropbox.com/"><img src="{{ url_for('static', filename='img/pe-web.png') }}"></a><br>
  {% if not user.dropbox_key %}
  Connect with Dropbox to sync your Workbin files.<br>
  <a data-inline="true" data-role="button" rel="external"
     href="{{ url_for('dropbox_login') }}">Connect with Dropbox</a>
  {% else %}
  You are connected with Dropbox. Your Workbin files will be synced.<br>
  <a data-inline="true" data-role="button"
     href="{{ url_for('dropbox_logout') }}">Disconnect from Dropbox</a>
  {% endif %}
  <h2>Folders to Sync</h2>
  {% for module in modules.values() %}
    <fieldset data-role="controlgroup">
      {% for directory in module %}
        <label class="nest{{ directory['nesting_level'] }}"><input type="checkbox" data-mini="true"/>
          {{ directory['directory'] }}
        </label>
      {% endfor %}
     </fieldset>
  {% endfor %}
</div>
{% endblock %}