{% extends "layout.html" %}
{% block title %}IVLE Cloud Sync{% endblock %}
{% block heading %}IVLE Cloud Sync{% endblock %}
{% block body %}

<div data-role="content">
  <img class="img-standard" src="{{url_for('static', filename='logo.png' )}}" alt="rename the Cloud Sync app folder">
  <h1 class="left">All your files at the right place, all the time.</h1>
  <p class="left">IVLE Cloud Sync <strong>simplifies workbin management</strong> by pushing new files to your Dropbox and giving you automatic updates as they happen.</p>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=436570933136164";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div id="fb-root"></div>
  <div style="text-align:left" class="fb-like" data-href="https://www.facebook.com/ivlecloudsync" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>

  <hr class="clear">
  <p>
    Jump right into the action.<br>
    <a data-ajax="false" data-inline="true" data-role="button"
       href="{{ url_for('ivle_login') }}"
       data-theme="b">
      Login with IVLE
    </a>
  </p>
  <p>
  Unsure about what it takes? read more about Cloud Sync in our FAQ.<br>
    <a data-ajax="false" data-inline="true" data-role="button"
       href="{{ url_for('faq') }}">
      FAQ
    </a>
    <a data-ajax="false" data-inline="true" data-role="button"
       href="{{ url_for('quickstart') }}">
      Quick Start Guide
    </a>
  </p>

</div>


{% endblock %}
