{% extends "layout.html" %}
{% block title %}IVLE Cloud Sync{% endblock %}
{% block body %}
<div data-role="header">
  <h1>IVLE Cloud Sync</h1>
</div>

<div data-role="content">
  <h1 class="left">All your files at the right place, all the time.</h1>
  <p class="left">IVLE Cloud Sync <strong>simplifies workbin management</strong> by pushing new files to your Dropbox and giving you automatic updates as they happen.</p>
  <hr class="clear">
  <p>
    Jump right into the action.<br>
    <a data-ajax="false" data-inline="true" data-role="button"
       href="{{ url_for('ivle_login') }}"
       data-theme="b">
      Login with IVLE
    </a>
  </p>
  <p>
  See what Cloudsync has to offer.<br>
    <a data-ajax="false" data-inline="true" data-role="button"
       href="{{ url_for('quickstart') }}">
      Take the Tour
    </a>
  </p>
</div>

{% endblock %}
