{% extends "layout.html" %}
{% block title %}Settings - IVLE Cloud Sync{% endblock %}
{% block heading %}Settings{% endblock %}
{% block body %}

<div class="center" data-role="content">
	<div style="text-align:left">
	<h4>A Note to New Users: </h4>
	<p>If this is your first time synchronising your Dropbox account, 
	please wait a few moments for us to upload all your existing files.</p>
	<p>This is the settings page. If you see this, then <strong><em>congratulations</em></strong>!
	All your files will be sent to you as soon as we get it.</p>
	<p><u>Most users would never have to change the settings.</u> Otherwise,
	only uncheck the folders you do not wish to have synchronised.</p>
	</div>
  <div data-role="collapsible" data-theme="a" data-content-theme="a">
    {% if not user.dropbox_valid %}
    <h3>Dropbox Integration - <span style="color:#F00;">Dropbox Account Not Linked</span></h3>
    <a href="https://www.dropbox.com/"><img src="{{ url_for('static', filename='img/pe-web.png') }}"></a><br>
    Connect with Dropbox to sync your Workbin files.<br>
    <a data-inline="true" data-role="button" rel="external"
       href="{{ url_for('dropbox_login') }}">Connect with Dropbox</a>
    {% else %}
    <h3>Dropbox Integration - <span style="color:#0F0;">Dropbox Account Linked</span></h3>
    <a href="https://www.dropbox.com/"><img src="{{ url_for('static', filename='img/pe-web.png') }}"></a><br>
    You are connected with Dropbox. Your Workbin files will be synced.<br>
    <a data-inline="true" data-role="button"
       href="{{ url_for('dropbox_logout') }}">Disconnect from Dropbox</a>
  	{% endif %}
	</div>
  <br><br>
  {% if modules.values() %}
    <h2>Folders to Sync</h2>
    <form method="post" action="{{ url_for('settings') }}">
      {% for module in modules.values() %}
      <fieldset data-role="controlgroup">
        {% for directory in module %}
        <label data-nest="{{ directory['nesting_level'] }}">
          <input type="checkbox" data-mini="true" value="{{ directory['id'] }}"
                 name="{{ directory['id'] }}" {% if directory['sync'] %}checked{% endif %} />
          {{ directory['directory'] }}
        </label>
        {% endfor %}
      </fieldset>
      {% endfor %}
      <button data-inline="true" type="submit" name="submit" value="submit">Submit</button>
    </form>
  {% else %}
    <h2>Hold It Right There!</h2>
    <h2>We are rushing to get your files from IVLE.</h2>
    <p>Please wait....</p>
    <div>
      <img  style="min-width:200px;max-width:600px;" src="{{url_for('static', filename='settings-img/wait.png' )}}" alt="Wait for your files!">
    </div>
    <script>
      $(document).ready(function(){
        setTimeout(function(){ location.reload(); }, 7000);
      })
    </script>
  {% endif %}
</div>

<script>
  function updateAncestors(el, checked, nestingLevel) {
    var all = true;
    var parent;
    el.prevAll().each(function() {
      if ($(this).children('.ui-btn').data('nest') === nestingLevel - 1) {
        parent = $(this);
        return false;
      }
      all = $(this).children('input[type="checkbox"]').prop('checked') === checked;
      return all;
    });
    if (all) {
      el.nextAll().each(function() {
        if ($(this).children('.ui-btn').data('nest') === nestingLevel - 1) {
          return false;
        }
        all = $(this).children('input[type="checkbox"]').prop('checked') === checked;
        return all;
      });
    }
    if (all) {
      if (parent) {
        parent.children('input[type="checkbox"]').prop('checked', checked).checkboxradio('refresh');
        updateAncestors(parent, checked, nestingLevel - 1);
      }
    } else {
      el.prevAll().each(function() {
        if ($(this).children('.ui-btn').data('nest') === nestingLevel - 1) {
          nestingLevel -= 1;
          $(this).children('input[type="checkbox"]').prop('checked', false).checkboxradio('refresh');
        }
      });
    }
  }

  $('input[type="checkbox"]').click(function() {
    var checked = $(this).prop('checked');
    var nestingLevel = $(this).parent().children('.ui-btn').data('nest');
    $(this).parent().nextAll().each(function() {
      if ($(this).children('.ui-btn').data('nest') == nestingLevel) {
          return false;
      }
      $(this).children('input[type="checkbox"]').prop('checked', checked).checkboxradio('refresh');
    });
    updateAncestors($(this).parent(), checked, nestingLevel);
  });
</script>
{% endblock %}
